<input type="text" value="Aman" [id]='myID' class="formControl">
<!-- this is property binding here we 
  binding myID property to the 'id' property of input.
  note:- we can also use interpolation binding but it has limitation it only works for string values for ex. if we
  use disabled property of input element which has by default false value we cannot change the value of this property
  by interpolation but with property binding we can bind true or false value with disabled property of input.
 -->

<input [disabled]='isDisabled' type="text" value="arien" bind-id="myID">
<!--Event binding
event binding is used for capture events.
-->
<button class="btn btn-primary" (click)="Hello()">Click Me</button>
<h4 [ngClass]="'one'">{{greeting}}</h4>

<!--template reference variable :- Template variables help you use data from one part of a template 
  in another part of the template. Use template variables to perform tasks
   such as respond to user input or finely tune your application's forms.

  A template variable can refer to the following: 
  -   a DOM element within a template
  -   a directive or component

  e.g
  <input #phone placeholder="phone number" />

 lots of other elements 
 phone refers to the input element; pass its `value` to an event handler 

<button type="button" (click)="callPhone(phone.value)">Call</button>
-->
<input #myInput type="text" class="formControl">
<button class="btn btn-brand-green" (click)="logMessage(myInput.value)">Click</button>

<!--Two way data binding
     Data binding in AngularJS is the synchronization between the model and the view.

When data in the model changes, the view reflects the change, and when data in the view changes, 
the model is updated as well. 
This happens immediately and automatically, which makes sure that the model and the view is updated at all times.
-->

<input type="text" class="formControl" [(ngModel)]="name">
{{name}}

<!--ngIf directive-->
<div class="p-2" *ngIf="!mymessage ;then thenblock; else elseblock">
</div>
<ng-template #thenblock>
  <h4 class="m-2">Hola!! como esatas</h4>
</ng-template>

<ng-template #elseblock>
  <h4 class="m-2">content is hidden </h4>
</ng-template>


<!--ngSwitch-->
<div class="p-2" [ngSwitch]="color">
  <div *ngSwitchCase="'red'">the color is red</div>
  <div *ngSwitchCase="'blue'">the color is red</div>
  <div *ngSwitchCase="'green'">the color is red</div>



</div>


<!--ngFor-->
<!-- **Note** :-applying styles to each element with ngfor
  The easiest way to do this is to just use the role of the member as your css class. Your html would simply be this:

<div *ngFor="let member of members" class="{{member.role}}">
  here role is the object property like name in person object array.
  {{member.name}}
</div>
  
  -->
<!-- <div (click)="onSelect(per)" *ngFor="let per of person; index as i; first as f ; even as e" class="{{per.name}}"> -->

  <!-- <div *ngIf="per.name=='aman'"> -->

  <div class="card mb-3" [class.selected]="isSelected(per)" (click)="onSelect(per)"
    *ngFor="let per of person; index as i; first as f ; even as e">
    <div class="card-header bg-secondary fw-5 py-2">{{per.name|titlecase}}</div>
    <div class="card-body ">
      <h5 class="card-title"></h5>
      <h1>{{per.id |titlecase}}</h1>
      <h1>{{per.name |titlecase}}</h1>
      <h1>{{per.gender |titlecase}}</h1>
      <h1>{{per.age |titlecase}}</h1>

    </div>
  </div>


  <!-- </div> -->

<!-- </div> -->

<div class="p-2" *ngFor="let color of colors ;index as i ; first as f; last as l; even as e; odd as o"
  class="{{color}}">
  <h1>{{i}}{{f}}{{l}}{{e}}{{color|slice:1:2|titlecase}}</h1>
</div>

<h2>{{prod}}</h2>


<button (click)="sendMessage()">BOLO</button>

<p>Today is {{today | date}}</p>
<p>Today is {{today | date:'shortDate'}}</p>
<p>Today is {{today | date:'shortTime'}}</p>
<p>Today I earn {{52 | currency}}</p>























<!-- <div>
  <ng-container>
      <tabset #tabset>
        <tab id="0">
          <ng-template tabHeading>
            <span title="Flash mobile">Flash</span>
          </ng-template>
          <p> Flashing mobile </p>
        </tab>
        <tab id="1">
          <ng-template tabHeading>
            <span title="Restore mobile">Restore</span>
          </ng-template>
          <p> Restore mobile </p>
        </tab>
        <tab id="2">
        <ng-template tabHeading>
          <span title="Restore mobile">Restore2</span>
        </ng-template>
        <p> Restore2 mobile </p>
      </tab>
      <tab id="3">
      <ng-template tabHeading>
        <span title="Restore mobile">Restore3</span>
      </ng-template>
      <p> Restore3 mobile </p>
    </tab>
      </tabset>
    </ng-container>
  </div>
  
  <div>
  <button class="btn" (click)="updatePrev()"> Previous </button>
  <button class="btn" (click)="updateNext()"> Next </button>
  </div> -->