.card{
    cursor:pointer;
}

.selected{
    background-color:red !important;
    font-weight: 700 !important;
}


one{
    color:red;
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding:5px;
    margin:5px;


}

.red{
    background-color:antiquewhite;
    color:rgb(237, 100, 100)
}

.blue{
    color:blue;
}

.green{

    color:green;
}

.orange{
    color:orange;
}

.aman{
    background-color:antiquewhite;
    color:cornflowerblue 
}