.inventory-body {
    width: 100%;
    background-color: #fff;
    margin-top: 15px;
    padding: 0px;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    min-height: 500px;
    .color-table > tbody > tr {
      cursor: pointer;
      .cols-table {
        cursor: default;
      }
    }
    .color-table {
      text-align: center;
      tr:hover {
        background: none;
      }
      thead {
        th {
          background-color: #3e4c59;
          color: #fff;
          border-top: 0px;
          padding: 16px 10px;
          i {
            font-size: 12px;
            cursor: pointer;
          }
        }
        th:first-child {
          border-radius: 10px 0px 0px 0px;
          background-color: #3e4c59;
          color: #fff;
        }
        th:last-child {
          border-radius: 0px 10px 0px 0px;
          background-color: #3e4c59;
          color: #fff;
        }
      }
    }
}
.name-box {
    position: relative;
    padding-left: 66px;
    min-height: 56px;
    &.header-box {
      height: 17px !important;
      min-height: 17px;
    }
  
    .img-box {
      width: 56px;
      height: 56px;
      position: absolute;
      left: 0px;
      top: 0px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .one{
    color:rgb(98, 4, 4);
    text-align: center;
  }
  
  .two{
    background-color: #fff;
  }

  .three{
    border:2px solid rgb(178, 171, 171)
  }
/* Switch button */
.four{
  font:bolder;
  color:red;
  border:1px solid black;
  text-align: center;
}

.five{
  background-color:#fff;
  font-style:italic;
}

.six{
  color:rgb(241, 32, 32);
  font-style: italic;
  
}

::ng-deep .custom-pagination {
  .pagination {
    margin-bottom: 0px;
    li {
      margin: 2px;
      &:first-child {
        a {
          background: #52606d !important;
          color: #fff;
          border-radius: 4px;
        }
      }
      &:last-child {
        a {
          background: #52606d !important;
          color: #fff;
          border-radius: 4px;
        }
      }
      a {
        width: 25px;
        height: 25px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 4px;
        text-align: center;
        padding: 3px;
        cursor: pointer;
        display: block;
        color: #3e4c59;
        background: transparent !important;
        border: none;
        font-family: "Poppins", sans-serif !important;
        line-height: 20px;
        &:focus {
          box-shadow: none;
        }
      }
      &.active {
        a {
          background: #158577 !important;
          color: #fff !important;
        }
      }
    }
  }
}
